extends layout
block content
    div(class="d-flex justify-content-center")
            h1 You are lost
    div(class="d-flex justify-content-center")
        p Go back #[a(href="/") Home]
    div(class="d-flex justify-content-center")
        p= error