body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  color: #8b8b8b;
}

a {
  color: #8b8b8b;
}

.nav-link-custom {
  font-size: 1.3vh;
}

.nav-brand-custom { 
  font-size: 2.5vh;
  font-weight: 600;
}
.post-input-container {
  height: 300px;
}
.post-input {
  resize: none;
  color: #8b8b8b;
}

.post-body {
  font-size: .7vw;
}
.card-margin {
  margin: 20px;
}
.delete-button {
  float: right;
  display: inline-block;
}
.card-inline {
  display: inline-block;
}